#dContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FFFFFF;
}


#dCalendar,
#dCalendar_default,
#dCalendar_holiday {
    height: 70vh;
    width: 80vh;
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: rgba(0, 0, 0, .15) 0 10px 20px;
}

#imgPrev,
#imgNext {
    opacity: 0.5;
    transition: all 0.2s;
}

#imgPrev:hover,
#imgNext:hover {
    opacity: 0.9;
    cursor: pointer;
}

.templateday,
.templateday_prev,
.templateday_next {
    height: 100%;
    width: 100%;
    color: yellow;
    position: relative;
}

.templateday_prev {
    background-color: yellow;
    color: blue;
}

.templateday_next {
    background-color: blue;
}

.currentday {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, .15);
    padding: 20px;
}

.isselected{
    background-color: green;
}