<div id="dContainer">

    <p (click)="doSelectToday()">
        Select Today
    </p>

    <div class="row content-centered">
        <div id="dCalendar" class="margin-normal">
            <mg-calendar #calendar (onSelectionChanged)="doChange($event)" (onNavigation)="onNavigated($event)"
                [shownavigator]="true" [template_prev]="calendarPrev" [template_next]="calendarNext"
                [template_month]="calendarMonth" [template_month_context]="template_month_context"></mg-calendar>
        </div>

        <div id="dCalendar_default" class="margin-normal">
            <mg-calendar #calendar2 [shownavigator]="true" (onSelectionChanged)="doChange($event)" (onNavigation)="onNavigated($event)">
            </mg-calendar>
        </div>
    </div>
</div>



<!-- TEMPLATING -->
<ng-template #calendarPrev>
    <img id="imgPrev" src="../assets/icons/round-thumb_up_alt-24px.svg" class="padding-thin">
</ng-template>

<ng-template #calendarNext>
    <img id="imgNext" src="../assets/icons/round-thumb_down_alt-24px.svg" class="padding-small">
</ng-template>

<ng-template let-month="month" let-preset="preset" #calendarMonth>
    <div class="padding-small">
        {{ preset }} > {{ getMonthName(month) }}
    </div>
</ng-template>